@import url('https://fonts.cdnfonts.com/css/satoshi');
@import "tailwindcss";

.satoshi {
  font-family: 'Satoshi';
}

/* hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
